/* You can add global styles to this file, and also import other style files */
body {
	background: gray;
	color: white;
}

a:link {
  color: lightblue !important;
}

/* visited link */
a:visited {
  color: lightblue !important;
}

/* mouse over link */
a:hover {
  color: lightblue !important;
}

/* selected link */
a:active {
  color: lightblue !important;
}

